{% extends "status/base.html" %}
{% block content %}
		<!-- <p>This website is created for the Raspberry Pi router.</p>
		<p>It is still in developement</p> -->
		<div class="container">
			<div class="row">
				<div class>
					Creator: Jonathan Saenz<br>
					Inspiration: Wanted to learn more about networking and my apartments don't have any secure access points to use<br>
					References: There are many guides online that I used as references and used <br>raspap application as a reference to build
					myapplication using Django web framework
				</div>
			</div>
		</div>
{% endblock content %}
